@import "font-awesome/font-awesome.min.css";
.fa-linkedin-square {
  font-size: 3rem;
  color: #797676;
}
.fa-twitter {
  font-size: 3rem;
  color: #797676;
}
.fa-user {
  font-size: 3rem;
  color: #797676;
}
.fa-quote-left {
  font-size: 3rem;
  color: #797676;
}
.fa-file-text {
  font-size: 3rem;
  color: #797676;
}
.shareIcons {
  font-size: 4rem;
  color: #777777;
  transition: all ease 0.2s;
  width: 6rem;
  height: 6rem;
}
.shareIcons:hover {
  font-size: 6rem;
  margin-top: -1rem;
  transition: all ease 0.2s;
}
.fa-twitter-square {
  font-size: 4rem;
  color: #777777;
  transition: all ease 0.2s;
  width: 6rem;
  height: 6rem;
}
.fa-twitter-square:hover {
  font-size: 6rem;
  margin-top: -1rem;
  transition: all ease 0.2s;
}
.fa-twitter-square:hover {
  color: #4099FF;
}
.fa-facebook-square {
  font-size: 4rem;
  color: #777777;
  transition: all ease 0.2s;
  width: 6rem;
  height: 6rem;
}
.fa-facebook-square:hover {
  font-size: 6rem;
  margin-top: -1rem;
  transition: all ease 0.2s;
}
.fa-facebook-square:hover {
  color: #3b5998;
}
.fa-google-plus-square {
  font-size: 4rem;
  color: #777777;
  transition: all ease 0.2s;
  width: 6rem;
  height: 6rem;
}
.fa-google-plus-square:hover {
  font-size: 6rem;
  margin-top: -1rem;
  transition: all ease 0.2s;
}
.fa-google-plus-square:hover {
  color: #dd4b39;
}
.liSquare {
  font-size: 4rem;
  color: #777777;
  transition: all ease 0.2s;
  width: 6rem;
  height: 6rem;
}
.liSquare:hover {
  font-size: 6rem;
  margin-top: -1rem;
  transition: all ease 0.2s;
}
.liSquare:hover {
  color: #007bb6;
}
.fa-pinterest {
  font-size: 4rem;
  color: #777777;
  transition: all ease 0.2s;
  width: 6rem;
  height: 6rem;
}
.fa-pinterest:hover {
  font-size: 6rem;
  margin-top: -1rem;
  transition: all ease 0.2s;
}
.fa-pinterest:hover {
  color: #cb2027;
}
.fa-arrow-circle-o-up {
  font-size: 6rem;
  color: #A09E9E;
  transition: color ease 0.3s;
}
.fa-arrow-circle-o-up:hover {
  color: #F0A830;
  transition: color ease 0.3s;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  height: 100%;
  max-height: 100%;
  font-size: 62.5%;
}
body {
  height: 100%;
  max-height: 100%;
  font-family: 'Noto Serif', serif;
  font-size: 2.0rem;
  line-height: 1.6em;
  color: #3A4145;
  background-color: #FFF8D4;
}
::-moz-selection {
  color: #222;
  background: #D6EDFF;
  text-shadow: none;
}
::selection {
  color: #222;
  background: #D6EDFF;
  text-shadow: none;
}
sup {
  font-size: 70%;
  vertical-align: super;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 5rem;
  line-height: 1.2em;
  letter-spacing: -2px;
  text-indent: -3px;
}
h2 {
  font-size: 4rem;
  line-height: 1.2em;
  letter-spacing: -1px;
  text-indent: -2px;
}
h3 {
  font-size: 3.5rem;
}
h4 {
  font-size: 3rem;
}
h5 {
  font-size: 2.5rem;
}
h6 {
  font-size: 2rem;
}
img {
  width: 100%;
}
a {
  color: #4a4a4a;
  transition: color ease 0.3s;
  text-decoration: none;
}
a:hover {
  color: #F0A830;
  transition: color ease 0.3s;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #50585D;
}
p,
ul,
ol,
dl {
  margin: 1.6em 0;
}
ol ol,
ul ul,
ul ol,
ol ul {
  margin: 0.4em 0;
}
dl dt {
  float: left;
  width: 180px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  margin-bottom: 1em;
}
dl dd {
  margin-left: 200px;
  margin-bottom: 1em;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #888888;
  margin: 3.2em 0;
  padding: 0;
}
blockquote {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.6em 0 1.6em 2.2em;
  padding: 0 0 0 1.6em;
  border-left: #4a4a4a 0.4em solid;
  background-color: #EEEEEE;
}
blockquote p {
  margin: 0.8em 0;
  font-style: italic;
}
blockquote small {
  display: inline-block;
  margin: 0.8em 0 0.8em 1.5em;
  font-size: 0.9em;
  color: #ccc;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote cite {
  font-weight: bold;
}
blockquote cite a {
  font-weight: normal;
}
mark {
  background-color: #ffc336;
}
code,
tt {
  padding: 1px 3px;
  font-family: Inconsolata, monospace, sans-serif;
  font-size: 0.85em;
  white-space: pre-wrap;
  border: 1px solid #E3EDF3;
  background: #EEEEEE;
  border-radius: 2px;
}
pre {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.6em 0;
  border: 1px solid #E3EDF3;
  width: 100%;
  padding: 10px;
  font-family: Inconsolata, monospace, sans-serif;
  font-size: 0.9em;
  white-space: pre;
  overflow: auto;
  background: #EEEEEE;
  border-radius: 3px;
}
pre code,
tt {
  font-size: inherit;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  background: transparent;
  border: none;
  padding: 0;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
#content {
  padding-top: 17rem;
}
@media (min-width: 768px) {
  #content {
    padding-top: 10rem;
    width: 65%;
    margin-left: 30%;
  }
}
.disable-hover {
  pointer-events: none;
}
.scrollUp {
  display: block;
  position: fixed;
  margin: 0;
}
@media (min-width: 768px) {
  .scrollUp {
    bottom: 2rem;
    right: 4rem;
  }
}
@media (max-width: 767px) {
  .scrollUp {
    bottom: 1rem;
    right: 2rem;
  }
}
.mobileDisappear {
  display: none;
}
.tagPageHeading {
  text-align: center;
}
.tagPageHeading .extra {
  font-size: 4rem;
  color: #6F6D66;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.grid {
  margin: 0 0 20px 0;
}
.grid:after {
  content: "";
  display: table;
  clear: both;
}
[class*='col-'] {
  float: left;
  padding-right: 20px;
}
.grid [class*='col-']:last-of-type {
  padding-right: 0;
}
.col-2-3 {
  width: 66.66%;
}
.col-1-3 {
  width: 33.33%;
}
.col-1-2 {
  width: 50%;
}
.col-1-4 {
  width: 25%;
}
.col-1-8 {
  width: 12.5%;
}
.row {
  width: 100%;
}
.module {
  padding: 20px;
}
/* Opt-in outside padding */
.grid-pad {
  padding: 20px 0 20px 20px;
}
.grid-pad [class*='col-']:last-of-type {
  padding-right: 20px;
}
#siteHeader {
  position: fixed;
  width: 100%;
  z-index: 400;
}
#siteHeader .nameHeader {
  border-bottom: #d4a000 8px solid;
  text-align: center;
  z-index: 400;
  position: relative;
  transition: color ease 0.3s;
  background-color: #ffca27;
  margin-bottom: 0;
}
#siteHeader .nameHeader:hover {
  color: #d4a000;
  transition: color ease 0.3s;
}
@media (min-width: 768px) {
  #siteHeader {
    width: 20%;
    left: 0;
    top: 0;
    height: 100%;
    border-right: #d4a000 8px solid;
    background-color: #ffca27;
  }
  #siteHeader .nameHeader {
    font-size: 6rem;
  }
  #siteHeader .profilePicContainer {
    display: block;
    text-align: center;
    margin: 33% 0 0 0;
  }
  #siteHeader .profilePic {
    width: 60%;
    height: 60%;
    border-radius: 10rem;
    border: 6px solid #d4a000;
    transition: all ease 0.3s;
  }
  #siteHeader .profilePic:hover {
    width: 63%;
    height: 63%;
    margin-bottom: -3%;
  }
  #siteHeader .nameHeader {
    border-bottom: none;
    margin: 0;
    padding-top: 0;
  }
  #siteHeader .nameTagline {
    font-size: 2rem;
    text-align: center;
    display: block;
  }
  #siteHeader .nameDesc {
    display: block;
    font-size: 1.5rem;
    margin-top: 10%;
    text-align: center;
  }
  #siteHeader footer {
    position: absolute;
    width: 100%;
    bottom: 2rem;
    font-size: 0.8rem;
    display: block;
    text-align: center;
  }
}
#siteHeader nav {
  font-size: 1.5rem;
  z-index: 100;
  position: relative;
}
#siteHeader nav.covered {
  top: -3rem;
  transition: top ease 0.3s;
}
#siteHeader nav.uncovered {
  top: 0;
  transition: top ease 0.3s;
}
#siteHeader nav ul {
  margin: 0;
}
#siteHeader nav .navLi {
  opacity: 0.8;
  background-color: #4B4A4A;
  padding: 1rem 0 0.5rem 0;
  display: inline-block;
  text-align: center;
  border: 2px solid #444444;
  border-top: 1px solid #444444;
  border-bottom: 1px solid #444444;
  transition: opacity ease 0.3s;
}
#siteHeader nav .navLi:hover,
#siteHeader nav .navLi .active {
  opacity: 1;
  background-color: #858484;
}
#siteHeader nav .navLi:hover .navIcon,
#siteHeader nav .navLi .active .navIcon {
  color: #d4a000;
}
@media (min-width: 768px) {
  #siteHeader nav {
    position: fixed;
    top: 0;
    left: 20%;
    height: 100%;
  }
  #siteHeader nav ul {
    width: 8rem;
    height: 100%;
  }
  #siteHeader nav ul li {
    display: block;
    height: 25%;
  }
  #siteHeader nav .navLi {
    float: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 80% 0 80% 0;
    border: 2px solid #444444;
    border-left: 1px solid #444444;
    border-right: 1px solid #444444;
  }
  #siteHeader nav .navLi .navIcon {
    font-size: 4rem;
  }
}
.post .post-meta {
  color: #858484;
  font-size: 1.6rem;
}
.post .post-meta a {
  color: #858484;
  transition: color ease 0.3s;
}
.post .post-meta a:hover {
  color: #F0A830;
  transition: color ease 0.3s;
}
.post .post-title a {
  color: #4a4a4a;
  transition: color ease 0.3s;
  text-decoration: none;
}
.post .post-title a:hover {
  color: #F0A830;
  transition: color ease 0.3s;
}
.post a {
  color: #A38732;
  transition: color ease 0.3s;
}
.post a:hover {
  color: #F0A830;
  transition: color ease 0.3s;
}
.post ul {
  list-style: disc outside none;
  margin-left: 2.2rem;
}
.post ul li {
  margin-left: 2.2rem;
}
.post ol {
  list-style: decimal outside none;
  margin-left: 2.2rem;
}
.post ol li {
  margin-left: 2.2rem;
}
.post .share {
  background-color: #EEEEEE;
  border-top: 1px solid #888888;
  border-bottom: 1px solid #888888;
  text-align: center;
}
.post .share h4 {
  margin: 1.6rem 0;
}
.post .share a {
  display: inline-block;
  vertical-align: middle;
}
